# Ignore node_modules folder
node_modules/

# Ignore build output
dist/

# Ignore TypeScript declaration files
*.d.ts

# Ignore environment variables file if added in the future
.env

# Ignore coverage reports
coverage/

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore macOS system files
.DS_Store

# Ignore IDE/project settings (for VSCode, JetBrains, etc.)
.vscode/
.idea/

# Ignore Jest cache and test coverage reports
jest-cache/
jest-coverage/

# Ignore TypeScript build cache
.tsbuildinfo
